body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans",
    "Droid Sans", "Helvetica Neue", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New", monospace;
}

/* PAGES */
.page {
  padding: 70px 30px;
}

.page,
.container {
  max-width: 1060px;
  margin: auto;
}

/* HEADINGS */
h1 {
  font-size: 40px;
}

/* CONTAINERS */
.flex-container-sm,
.flex-container-md,
.flex-container-lg {
  display: flex !important;
}

/* IMAGES */
.img-md img {
  width: 225px;
  height: auto;
  max-height: 225px;
}

@media only screen and (max-width: 425px) {
  .flex-container-sm {
    flex-direction: column !important;
  }

  .img-responsive img {
    max-width: 90%;
  }
}

@media only screen and (max-width: 768px) {
  .flex-container-md {
    flex-direction: column !important;
  }
}

@media only screen and (max-width: 1024px) {
  .flex-container-lg {
    flex-direction: column !important;
  }
}
